.dropdown-three-stage {
	display: inline-block;
}

.dropdown-three-stage .anchor {
	position: relative;
	cursor: pointer;
	display: inline-block;
	padding: 5px 50px 5px 10px;
	border: 1px solid #ccc;
	background-color: white;
}

.dropdown-three-stage .anchor:after {
	position: absolute;
	content: "";
	border-left: 2px solid black;
	border-top: 2px solid black;
	padding: 5px;
	right: 10px;
	top: 20%;
	-moz-transform: rotate(-135deg);
	-ms-transform: rotate(-135deg);
	-o-transform: rotate(-135deg);
	-webkit-transform: rotate(-135deg);
	transform: rotate(-135deg);
}

.dropdown-three-stage .anchor:active:after {
	right: 8px;
	top: 21%;
}

.dropdown-three-stage ul.items {
	padding: 2px;
	display: none;
	margin: 0;
	border: 1px solid #ccc;
	border-top: none;
	background-color: white;
	max-height: 20vh;
	overflow-y: auto;
	overflow-x: hidden;
}

.dropdown-three-stage ul.items li {
	list-style: none;
	display: flex;
	align-items: center;
}

.dropdown-three-stage ul.items li span {
	margin-left: 5px;
	margin-right: 15px;
}

.dropdown-three-stage.visible .anchor {
	color: #0094ff;
}

.dropdown-three-stage.visible .items {
	display: grid;
}
