@{
    ViewData["Title"] = "All Transactions";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<p>
    <a asp-action="Import">Import</a>
</p>

<form method="post" id="transactionTableForm">
    <table class="table" id="transactionTable">
        <tbody></tbody>
    </table>
</form>

@section Scripts
{
    <script src="~/js/transactionTable.js" asp-append-version="true"></script>
    <script>
        methodUrl = "/Transactions/LoadTransactions";
        formId = "transactionTableForm";
        tableId = "transactionTable";
        viewModelName = "vm";
        LoadTableContents();
    </script>
}